<% layout('layouts/boilerplate')%>
  <section id="minimal-statistics">
    <div class="row">
      <div class="col-12 mt-3 mb-3">
        <h4 class="text-uppercase"><i class="fas fa-home mr-1"></i>Dashboard</h4>
      </div>
      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="fas fa-users primary font-large-2 float-left"></i>
                </div>
                <a href="/karyawan" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Data karyawan</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="fas fa-cube warning font-large-2 float-left"></i>
                </div>
                <a href="/kriteria" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Data Kriteria</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="fas fa-cubes success font-large-2 float-left"></i>
                </div> 
                <a href="/subkriteria" class="align-self-center mr-1">
                  <div class="media-body text-left">
                    <h3>Data Sub Kriteria</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <div class="row">

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="fas fa-clipboard-list grey  font-large-2 float-left"></i>
                </div>
                <a href="/penilaian" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Data Penilaian</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="icon-graph info font-large-2 float-left"></i>
                </div>
                <a href="/hasil" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Hasil Penilaian</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="icon-user primary font-large-2 float-left"></i>
                </div>
                <a href="/user" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Data Admin</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-xl-4 col-sm-6 col-12">
        <div class="card">
          <div class="card-content">
            <div class="card-body">
              <div class="media d-flex justify-content-md-left">
                <div class="align-self-center mr-2">
                  <i class="fas fa-print danger font-large-2 float-left"></i>
                </div>
                <a href="/cetak" class="align-self-center mr-2">
                  <div class="media-body text-left">
                    <h3>Cetak Laporan</h3>
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </section>