<% layout('layouts/boilerplate')%>
  <% for(let karyawan of karyawans){ %>
    <form method="POST" action="/karyawan/<%=karyawan.id%>?_method=PUT">
      <div>
        <label for="nama">Nama</label>
        <input type="text" id="nama" name="karyawan[nama]" value="<%= karyawan.nama %>">
      </div>
      <div>
        <div>Jenis Kelamin:</div>
        <input type="radio" id="small" name="karyawan[jkel]" value="Laki-laki" <%if(karyawan.jkel==="Laki-laki" ){%>
        checked
        <% } %> >
          <label for="small">
            Laki-laki</label>
      </div>
      <div>
        <input type="radio" id="large" name="karyawan[jkel]" value="Perempuan" <%if(karyawan.jkel==="Perempuan" ){%>
        checked
        <% } %> >
          <label for="large">Perempuan</label>
      </div>
      <div>
        <label for="alamat">alamat</label>
        <input type="text" id="alamat" name="karyawan[alamat]" value="<%= karyawan.alamat %>">
      </div>
      <button>Update!</button>
    </form>

    <a href="/karyawan">Semua Karyawan</a>
    <% } %>